html, body {
  overflow: hidden;
}

.overlay, canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

canvas {
  z-index: 1;
}

.overlay {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 8rem;
  height: 2rem;
  margin: 1rem;
}

img {
  margin: 2rem;
}

@font-face {
  font-family: 'KenneyMini';
  src: url('fonts/Kenney\ Mini.ttf');
}
